<html>
<head>
    <link rel='stylesheet' href="{{ asset('//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css') }}">

</head>
<script>

</script>

<body>
{#<form action="{{ path('save_firmware') }}" method="post">#}
<select id="cb_cf_ports" style="width: 100%;display: none;">
    <option>
        Select a Comm Port
    </option>
</select>

<div id="loadingDiv" style="display: none;">
    <i class="fa fa-spinner fa-spin fa-5x"></i>
</div>

<div id="cb_cf" style="display: none;">
    <button id="cb_cf_flash_btn" class="btn btn-default" disabled>
        Run on Arduino
    </button>
    <p id="cb_cf_operation_output"></p>
</div>

<div class="hidden">
    <input type="text" id="hexFileUrl"></input>

    <input type="text" id="boardConfig"></input>

    <input type="text" id="boardBuild"></input>

    <input type="text" id="buttonName"></input>

    <input type="text" id="boardName"></input>

    <input type="text" name="width" id="width"/>

    <input type="text" name="height" id="height"/>

    <input type="text" id="programmerCommunication"></input>

    <input type="text" id="startInitialization" onChange="checkForInitialization()" val="false"></input>

    <input type="text" id="initCompiler" onChange="initCompiler()" val="false"></input>

    <textarea id="hexFileContents"></textarea>

</div>
{#<input type="submit" value="Save"/>#}
{#</form>#}
<!-- jQuery -->
<script type="text/javascript" src="{{ asset('//code.jquery.com/jquery-2.1.4.min.js') }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ asset('//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('//codebender.cc/embed/compilerflasher.js') }}"></script>
{% include 'AppBundle:FlashIframe:js.html.twig' %}
</body>
</html>
